<!DOCTYPE html>
<html lang="en">
<head>
    <title>Projects</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><a href="home.html">Home</a></li>
                <li><a href="hobbies.html">Hobbies</a></li>
                <li><a href="projects.html">Projects</a></li>
            </ul>
    </nav>
<div class="jumbotron text-center">
    <h1>Hobbies</h1>
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-4">
        <h3>Hiking</h3>
        <p>
            I have hiked 21 of Colorado's 14ers.
        </p>
        <p>
            I have hiked Redcloud, Sunshine, Handies, Massive, Sherman, Grays, Torreys, and Wetterhorn.
            Just to name a few.
        </p>
    </div>
        <div class="col-sm-4">
        <h3>Video Games</h3>
        <p>I love RPG games like Skyrim and The Witcher 3.</p>
    </div>
        <div class="col-sm-4">
        <h3>Running</h3>        
        <p>I used to compete in collegiate cross-country and track</p>
    </div>
  </div>
</div>

</body>
</html>