<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<ul>
    <li><a href="home.html">Home</a></li>
    <li><a href="hobbies.html">Hobbies</a></li>
    <li><a href="projects.html">Projects</a></li>
</ul>
<body>
    <h1>ABOUT ME</h1>
    <p>
        Hello! My name is Joshua(Josh) Trujillo. I am a current student at the University of Colorado at Boulder.
        I am studying Computer Science with a minor in Russian. I am a sophomore and am expected to graduate in 2027.
        I am from Grand Junction, Colorado and I love to hike, ski, and play video games. 
        And have hiked 21 of Colorado's 14ers.
    </p>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <a href="resume.html">Resume</a>
</body>
<footer>
    <p>
        <a href="github.com/jotrujil03">GitHub</a>
    </p>
</html>